.completed > span{
    text-decoration: line-through;
    background-color: gray;
}
body{
    font-family: system-ui, sans-serif;
    background: radial-gradient(circle at top, rgb(25, 112, 83), white);
    color: #fff;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}
#todo-container{
    width: 500px;
    max-width: 600px;
    padding: 30px;
    border-radius: 20px;
    transition: color 1s, box-shadow 3s; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#todo-list{
    font-size: 30px
}
#time-container{
    width: 500px;
    max-width: 600px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    transition: background 1s, color 3s, box-shadow 3s;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#stopwatch-container{
    color: #000;
    width: 300px;
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    transition: color 1s, box-shadow 3s; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
#stopwatch{
    font-size: 100px
}

#time-container{
            transform: translateY(-2px);
            box-shadow: 0 24px 60px rgba(0,0,0,0.6);
        }

#clock{
    font-size: 4rem;
    letter-spacing: 0.1em;
}
h1,h2{
    height: 0 0 12px;
    font-weight: 600;
}
button{
    color: #fff;
    background-color: orange
}
button:hover{
    color:#fff;
    background:f56500
}
.new-item.complete-btn{
    color: #fff;
    background-color: orange
}

